aioredis==1.1.0
asgiref==2.3.2
asn1crypto==0.24.0
async-timeout==3.0.0
atomicwrites==1.1.5
attrs==18.1.0
autobahn==18.6.1
Automat==0.7.0
cffi==1.11.5
channels==2.1.3
channels-redis==2.2.1
constantly==15.1.0
cryptography==3.2
daphne==2.2.0
dj-database-url==0.5.0
dj-static==0.0.6
Django>=2.1.6
django-heroku==0.3.1
django-http2-push==0.0b2
django-toolbelt==0.0.1
gunicorn==19.9.0
h2==3.0.1
hiredis==0.2.0
hpack==3.0.0
hyperframe==5.1.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
more-itertools==4.3.0
msgpack==0.5.6
pluggy==0.7.1
priority==1.3.0
psycopg2==2.7.5
py==1.5.4
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
pytest==3.7.1
pytest-asyncio==0.9.0
pytest-django==3.3.3
pytz==2018.5
selenium==3.13.0
service-identity==17.0.0
six==1.11.0
static3==0.7.0
Twisted==19.7.0
txaio==2.10.0
whitenoise==3.3.1
zope.interface==4.5.0
