<!DOCTYPE HTML>
{% load static %}
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <title>チャットルーム</title>
  <link rel="shortcut icon" href="{% static 'chat/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'chat/room.css' %}">
</head>
<body>
  <div id="left-panel">
    <div id="persona-table" align="center">
      あなたの人物設定は以下の通りです。<br>
      <table border="1" cellpadding="5">
        <tr><th>項目</th><th>値</th></tr>
        {% for k,v in persona %}
          <tr><td>{{k}}</td><td>{{v}}</td></tr>
        {% endfor %}
      </table>
    </div>
    <div id="instruction">
      <h2>チャットの際の注意</h2>
        <ol>
        <li>チャット相手は、ロボットではなく人間です。
            <font color="red">攻撃的・差別的な言葉、過度なスラングの使用</font>などは控えてください。</li>
        <li>「お互いに初対面」としての会話をしてください。あいさつや自己紹介から始めましょう。</li>
        <li>お互いにだいたい5項目分、相手のことを知れたと思ったら、対話を終了してください。</li>
        <li><font color="blue">与えられた人物設定以外の項目は、自由に連想</font>して話してください。<br>
            例えば、あなたの人物設定に「年齢」という項目がなく、相手に年齢を聞かれた時は、何歳と答えても構いません。</li>
        <li>与えられた設定の5項目全てを無理に伝える必要はありません。自然な会話を心がけてください。</li>
        <li>あなた自身の<font color="red">本名、住所、電話番号等の個人情報</font>を発言しないでください。</li>
        <li>人物設定、チャット内容、相手の人物予想、追加した設定は記録され、対話AIの研究に用いられます。ご了承の程よろしくお願い致します。</li>
        <li>注意事項は以上です。<font color="blue"><b>チャットを楽しんでください</b></font>。</li>
        </ol>
    </div>
  </div>
  <div id="chat-space">
    <textarea id="chat-log" readonly></textarea><br>
    <input id="chat-message-input" type="text">
    <input id="chat-message-submit" type="button" value="送信">
    <input id="chat-close-input" type="button" value="対話終了"><br>
  </div>
  <form name="worker_info_form" method="POST" action="{% url 'after_chat' %}">
    {% csrf_token %}
    <input type="hidden" name="room_name" value="{{room_name}}">
    <input type="hidden" name="turn" value="{{turn}}">
  </form>
</body>
<script>
  var onBeforeunloadHandler = function (e) {
    e.returnValue = "";
  };
  window.addEventListener('beforeunload', onBeforeunloadHandler, false);
  var num_messages = 0;
  var room_name = "{{ room_name }}";
  var turn = "{{ turn }}";
  var ws_protocol = (window.location.protocol == 'http:') ? 'ws://' : 'wss://'
  var chatSocket = new WebSocket(
    ws_protocol + window.location.host +
    '/perchat/ws/chat/' + room_name + '/' + turn + '/');
  document.querySelector('#chat-message-input').focus();
  if (turn === 'S') {
    document.querySelector('#chat-message-input').value = 'あいての発言を待っています…';
    document.querySelector('#chat-message-input').disabled = true;
    document.querySelector('#chat-message-submit').disabled = true;
    document.querySelector('#chat-log').value += '【システムメッセージ】 相手が先に発言します。\r';
  } else {
    document.querySelector('#chat-log').value += '【システムメッセージ】 あなたから発言してください。\r';
  }

  chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    if (data['type'] == 'message') {
      var message = data['message'];
      var sender_name = data['sender_name'];
      document.querySelector('#chat-log').value += (sender_name+': '+message+'\n');
      num_messages += 1;
      document.querySelector('#chat-log').scrollTop = document.querySelector('#chat-log').scrollHeight;
      if (sender_name != 'あなた') {
        document.querySelector('#chat-message-input').disabled = false;
        document.querySelector('#chat-message-input').value = '';
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-submit').disabled = false;
      }
      if (num_messages >= 20) {
        document.querySelector('#chat-log').value += '【システムメッセージ】 最大ターン数になりました。対話を終了して、次にお進みください。\n';
        document.querySelector('#chat-message-input').value = '';
        document.querySelector('#chat-message-input').disabled = true;
        document.querySelector('#chat-message-submit').disabled = true;
      }
    } else if (data['type'] == 'player_disconnected' && data['sender_name'] != 'あなた') {
      document.querySelector('#chat-log').value += '【システムメッセージ】 相手が退出しました。対話を終了して、次にお進みください。\n';
      document.querySelector('#chat-message-input').value = '';
      document.querySelector('#chat-message-input').disabled = true;
      document.querySelector('#chat-message-submit').disabled = true;
    }
  };

  chatSocket.onclose = function(e) {
    document.querySelector('#chat-log').value += '【システムメッセージ】 何らかの理由でチャットから切断されました。対話を終了して、次にお進みください。\n';
    console.error('Chat socket closed unexpectedly');
  };

  document.querySelector('#chat-message-input').onkeyup = function(e) {
    if (e.keyCode === 13) {
      document.querySelector('#chat-message-submit').click();
    }
  };

  document.querySelector('#chat-message-submit').onclick = function(e) {
    if (document.querySelector('#chat-message-input').value != '') {
      var messageInputDom = document.querySelector('#chat-message-input');
      var message = messageInputDom.value;
      chatSocket.send(JSON.stringify({
        'type': 'message',
        'message': message,
      }));

      messageInputDom.value = 'あいての返信を待っています…';
      messageInputDom.disabled = true;
      document.querySelector('#chat-message-submit').disabled = true;
    }
  };

  document.querySelector('#chat-close-input').onclick = function (e) {
    if (window.confirm('対話を終了し、次の作業に進みますか？')) {
      window.removeEventListener('beforeunload', onBeforeunloadHandler, false);
      document.worker_info_form.submit();
    } else {
      return false;
    }
  };
</script>
</html>