<!DOCTYPE HTML>
{% load static %}
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <title>控え室</title>
  <link rel="shortcut icon" href="{% static 'chat/favicon.ico' %}">
  <script>
    var uuid4 = (function() {
      var d = +new Date();
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'
        .replace(/[xy]/g, function(c) {
          var r = (d + Math.random() * 16) % 16 | 0;
          return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
        });
    });
  </script>
  <script type="text/javascript" src="{% static 'chat/reconnecting-websocket.min.js' %}"></script>
</head>
<body>
  <div align="center">
    <h1>人物なりきりチャット(仮)</h1>
    <p>与えられた人物設定になりきって、チャットをしてください。</p>
  </div>
  <hr>
  <div style="margin-left: 20vw">
    <h2>手順説明</h2>
    <ol>
    <li>あなたがなりきる人物設定を確認してください。<br>
       この設定はランダムに生成されており、気に入らなければ再生成することができます。<br>
    <table border="1" cellpadding="5">
      <tr><th>項目</th><th>値</th></tr>
      {% for k,v in persona %}
      <tr><td>{{k}}</td><td>{{v}}</td></tr>
      {% endfor %}
    </table><br>
    <form name="persona_form" method="POST">
      {% csrf_token %}
      {% for k,v in persona %}
        <input type="hidden" name="persona" value="{{k}}={{v}}">
      {% endfor %}
    </form>
    この人物設定が気に入らない場合は「再生成」を押してください。<br>
    <input type="button" id="regenerate" value="再生成">
    </li><br>
    <li>上の人物設定になりきって、チャットをしていただきます。<br>
       チャットを通じて、<font color="blue">お互いに相手がどんな人物か</font>を知ろうとしてください。<br>
       <b>チャットの際の注意事項</b>が下にありますので、よく読んでください。<br>
    </li>
    <li>お互いのことを十分知れたと思ったら、チャットを終了してください。</li>
    <li>チャット終了後、<font color="blue">チャット相手の人物設定を予想</font>して記入していただきます。<br>
       また、<font color="blue">与えられた設定以外の設定</font>をチャットで使っていたら、記入してください。<br>
       全て記入し終わったら、送信ボタンを押してください。
    </li>
    </ol>
    <h2>チャットの際の注意</h2>
      <ol>
      <li>チャット相手は、ロボットではなく<font color="blue">人間</font>です。
          <font color="red">攻撃的・差別的な言葉、過度なスラングの使用</font>などは控えてください。</li>
      <li>「<font color="blue">お互いに初対面</font>」としての会話をしてください。</li>
      <li>お互いにだいたい5項目分、<font color="blue">相手のことを知れた</font>と思ったら、対話を終了してください。</li>
      <li><font color="blue">与えられた人物設定以外の項目は、自由に連想</font>して話してください。<br>
          例えば、あなたの人物設定に「年齢」という項目がなく、相手に年齢を聞かれた時は、何歳と答えても構いません。</li>
      <li>与えられた設定の5項目を無理に伝える必要はありません。<font color="blue">自然な会話</font>を心がけてください。</li>
      <li>あなた自身の<font color="red">本名、住所、電話番号等の個人情報</font>を発言しないでください。</li>
      <li>人物設定、チャット内容、相手の人物予想、追加した設定は<font color="blue">記録され、今後の研究に用いられます</font>。ご了承の程よろしくお願い致します。</li>
      <li>注意事項は以上です。<font color="blue"><b>チャットを楽しんでください</b></font>。</li>
      </ol>
    <p>
      以上のことをご理解いただけましたら、下のボタンからお進みください。
    </p>
      <div id="announce-message">
        <input type="button" id="matching-start-input" value="次へ進む">
      </div>
  </div>
  <script>
    document.querySelector('#matching-start-input').onclick = function(e) {
      this.disabled = true;
      document.querySelector('#regenerate').disabled = true;

      user_id = uuid4()
      var ws_protocol = (window.location.protocol == 'https:') ? 'wss://' : 'ws://'
      console.log('now using ' + ws_protocol)
      var matchingSocket = new ReconnectingWebSocket(
        ws_protocol + window.location.host + '/ws/matching/' + user_id + '/'
      );

      matchingSocket.onclose = function(e) {
        console.error('Matching socket closed unexpectedly');
      };

      matchingSocket.onmessage = function (e) {
        var matching_data = JSON.parse(e.data);
        var room_name = matching_data['room_name'];
        if (matching_data['is_first']) {
          var turn = 'F';
        } else {
          var turn = 'S';
        }
        document.persona_form.action = '/chat/' + room_name + '/' + turn + '/';
        document.persona_form.submit();
      };

      document.querySelector('#announce-message').innerHTML += 'マッチング中です…';
    };

    document.querySelector('#regenerate').onclick = function(e) {
      location.reload();
    }
  </script>
</body>
</html>