<!DOCTYPE HTML>
{% load static %}
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <title>控え室</title>
  <script>
    var uuid4 = (function() {
      var d = +new Date();
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'
        .replace(/[xy]/g, function(c) {
          var r = (d + Math.random() * 16) % 16 | 0;
          return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
        });
    });
  </script>
</head>
<body>
  <div align="center">
    あなたの設定は以下の通りです。<br>
    <table border="1" cellpadding="5">
      <tr><th>属性</th><th>値</th></tr>
      {% for k,v in persona.items %}
      <tr><td>{{k}}</td><td>{{v}}</td></tr>
      {% endfor %}
    </table><br>
    <form name="persona_form" method="POST">
      {% csrf_token %}
      {% for k,v in persona.items %}
        <input type="hidden" name="persona" value="{{k}}={{v}}">
      {% endfor %}
    </form>
    この設定でよろしければ「決定」を、<br>
    そうでない場合は「再生成」を押してください。<br>
    <input type="button" id="regenerate" value="再生成">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" id="matching-start-input" value="決定"><br>
    <div id="announce-message"></div>
  </div>
  <script>
    document.querySelector('#matching-start-input').onclick = function(e) {
      this.disabled = true;
      document.querySelector('#regenerate').disabled = true;

      user_id = uuid4()
      var matchingSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/matching/' + user_id + '/'
      );

      matchingSocket.onclose = function(e) {
        console.error('Matching socket closed unexpectedly');
      };

      matchingSocket.onmessage = function (e) {
        var matching_data = JSON.parse(e.data);
        var room_name = matching_data['room_name'];
        if (matching_data['is_first']) {
          var turn = 'F';
        } else {
          var turn = 'S';
        }
        document.persona_form.action = '/chat/' + room_name + '/' + turn + '/';
        document.persona_form.submit();
      };

      document.querySelector('#announce-message').innerHTML = 'マッチング中です…';
    };

    document.querySelector('#regenerate').onclick = function(e) {
      location.reload();
    }
  </script>
</body>
</html>