<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chat Room</title>
</head>
<body>
  <div align="center">
    <textarea id="chat-log" cols="80" rows="40" readonly></textarea><br>
    <input id="chat-message-input" type="text" size="72">
    <input id="chat-message-submit" type="button" value="Send"><br>
    <input id="user-name" type="hidden">
  </div>
</body>
<script>
  var room_name = {{ room_name_json }};
  var chatSocket = new WebSocket(
    'ws://' + window.location.host +
    '/ws/chat/' + room_name + '/');

  chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data['message'];
    var sender_name = data['sender_name'];
    document.querySelector('#chat-log').value += (sender_name+': '+message+'\n');
  };

  chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
  };

  document.querySelector('#chat-message-input').focus();
  document.querySelector('#chat-message-input').onkeyup = function(e) {
    if (e.keyCode === 13 && this.value != '') {
      document.querySelector('#chat-message-submit').click();
    }
  };

  document.querySelector('#chat-message-submit').onclick = function(e) {
    var messageInputDom = document.querySelector('#chat-message-input');
    var message = messageInputDom.value;
    chatSocket.send(JSON.stringify({
      'message': message,
    }));

    messageInputDom.value = '';
  };
</script>
</html>