<!DOCTYPE HTML>
{% load static %}
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <title>ありがとうございました</title>
  <link rel="shortcut icon" href="{% static 'chat/favicon.ico' %}">
  <script type="text/javascript">
    history.pushState(null, null, null);
    window.addEventListener("popstate", function(e){
      history.pushState(null, null, null);
    });
  </script>
</head>
<body>
  <p>ありがとうございました。</p>
  <p>あなたの確認コードは、 <br>{{verifycode}}<br> です。</p>
  <p>クラウドソーシングサービスに戻り、確認コードを入力してください。</p>
</body>
</html>