<!DOCTYPE HTML>
{% load static %}
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <title>トップページ</title>
  <link rel="shortcut icon" href="{% static 'chat/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'chat/slick.css' %}" media="screen">
  <link rel="stylesheet" type="text/css" href="{% static 'chat/theme/slick-theme.css' %}" media="screen">
</head>
<body>
  <body>
  <div align="center">
    <h1>人物なりきりチャット(仮)</h1>
  </div>
  <hr>
  <div class="slider single-item" align="center">
    <div><img src="{% static 'chat/スライド1.gif' %}" width="80%"></div>
    <div><img src="{% static 'chat/スライド2.JPG' %}" width="80%"></div>
    <div><img src="{% static 'chat/スライド3.JPG' %}" width="80%"></div>
    <div><img src="{% static 'chat/スライド4.gif' %}" width="80%"></div>
    <div><img src="{% static 'chat/スライド5.JPG' %}" width="80%"></div>
    <div><img src="{% static 'chat/スライド6.gif' %}" width="80%"></div>
    <div><img src="{% static 'chat/スライド7.gif' %}" width="80%"></div>
    <div><img src="{% static 'chat/スライド8.JPG' %}" width="80%"></div>
    <div><img src="{% static 'chat/スライド9.JPG' %}" width="80%"></div>
    <div><img src="{% static 'chat/スライド10.JPG' %}" width="80%"></div>
    <div><img src="{% static 'chat/スライド11.JPG' %}" width="80%"></div>
    <div><img src="{% static 'chat/スライド12.JPG' %}" width="80%"></div>
  </div>
  <p><a href="{% url 'anteroom' %}">説明を終了し、次のページへ進む</a></p>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static 'chat/slick.min.js'%}"></script>
  <script type="text/javascript">
    $(function() {
      $('.single-item').slick({
        autoplay: false,
        arrows: true,
        dots: true,
        infinite: false
      });
    });
  </script>
</body>
</html>